@import "@/styles/theme";
@import "@/styles/animations";
@import "@/styles/mixins";

.scrollCta {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    z-index: 2;

    p {
        font-size: 1rem;
    }

    &.scrollCtaHorizontal {
        align-items: center;
        bottom: 0%;
        padding: 0px;

        p {
            text-align: center;
        }
    }

    &.scrollCtaVertical {
        bottom: 0%;
        width: 45px;
        height: 200px;

        p {
            transform: rotate(-90deg);
            font-weight: $bold;
            font-size: 14px;
            padding-left: 12px;

            white-space: nowrap;
        }
    }

    >div {
        display: flex;
        flex-direction: column;

        svg {
            @include animationMargin;

            &:nth-child(1) {
                animation-delay: 0ms;
            }

            &:nth-child(2) {
                animation-delay: 150ms;
            }

            &:nth-child(3) {
                animation-delay: 300ms;
            }
        }
    }

    svg {
        margin-bottom: 12px;
        position: relative;
    }
}