@import "@/styles/theme";
@import "@/styles/animations";
@import "@/styles/mixins";

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: calc(100vh - 44px);
  margin-top: 44px;

  .previous {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: calc(100% - 34px);
    z-index: 4;
    background-color: transparent;
    border: none;
  }

  .next {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: calc(100% - 34px);
    z-index: 4;
    background-color: transparent;
    border: none;
  }
}

.clickCta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  right: 18px;
  align-items: center;
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 30px;
  height: 20px;

  p {
    width: auto;
    margin-left: 10px;
    font-size: 10px;
    font-weight: $bold;
  }

  img {
    margin-left: 16px;
    animation-name: "pointer";
    animation-duration: 7s;
    animation-iteration-count: infinite;
    padding-right: 18px;
  }
}

.container {
  position: relative;
  justify-items: start;
  overflow: hidden;
  background-color: $background-primary;
  align-items: start;
  width: 100%;
  height:100vh;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    0deg,
    rgba($background-primary, 1) 0%,
    rgba($background-primary, 0) 100%
  );
}

.imageHolder {
  z-index: -1;
  span {
    img {
      object-fit: cover;
    }
  }
}
